.aside{
    height: 40px;
    position: fixed;
    left: calc(100vw - 40px);
    top: 0;
}

.aside-menus{
    background-color: var(--laranja);
    border-top: 1px solid var(--laranja-escuro);
    height: calc(100vh - 40px);
    left: 100vw;
    overflow-y: hidden;
    position: fixed;
    top: 40px;
    width: 100vw;
}

.aside img{
    border-left: 1px solid var(--laranja-claro);
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    padding: 5px 0;
    width: 40px;
}

.tempos{
    border-bottom: 1px solid var(--laranja-escuro);
    box-sizing: border-box;
    height: 70%;
    padding: 8px 2% 5%;
    position: relative;
}

.tempos>span{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.tempos>span>h2{
    color: var(--laranja-escuro);
    display: inline-block;
    font-weight: bold;
    margin-bottom: 16px;
}

.tempos>span>p{
    color: var(--laranja-escuro);
    font-size: 12px;
    margin: 0 4px;
    text-align: center;
}

.tempos>span>button{
    background: transparent;
    border: 1px solid var(--laranja-escuro);
    border-radius: 7px;
    cursor: pointer;
    color: var(--laranja-escuro);
    font-size: 12px;
    outline: none;
}

.tempos>span>button:active{
    box-shadow: inset 0 0 2px var(--laranja-escuro);
}

.tempos>div{
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    max-height: calc(100% - 41px);
    overflow-y: scroll;
    padding: 4px;
}

.tempos>div>div{
    border: 1px solid var(--laranja-escuro);
    border-radius: 7px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 4px;
    padding: 4px 0;
    text-align: center;
    width: calc(20% - 8px);
}

.tempos>div>div>h3{
    color: var(--laranja-escuro);
    font-weight: bold;
}

.tempos>div>span{
    color: var(--laranja-escuro);
    font-weight: bold;
    margin: auto;
}

.medias{
    box-sizing: border-box;
    height: 30%;
    padding: 0 2%;
}

.medias>span{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.medias>span>h2{
    color: var(--laranja-escuro);
    font-weight: bold;
}

.medias>span>div{
    box-sizing: border-box;
    margin: 16px 8px 0 0;
    text-align: center;
}

.medias>div{
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
    overflow-y: scroll;
}

.medias>div>div{
    box-sizing: border-box;
    margin: 0 4px;
    text-align: center;
    width: 22%;
}

.medias>span>div>p,.medias>div>div>p{
    border: 1px solid var(--laranja-escuro);
    border-radius: 7px;
    margin-top: 5px;
    padding: 4px 0;
}

.medias>span>div,.medias>div>div{
    color: var(--laranja-escuro);
    font-size: 12px;
    font-weight: bold;
}

@media (min-width:426px){
    .medias>span>div,.medias>div>div,.tempos>span>p,.tempos>span>button{
        font-size: 16px;
    }
}

@media (min-width:1025px){
    .aside{
        left: 100vw;
    }

    .aside-menus{
        position: absolute;
        left: calc(100vw - 300px);
        transform: translateX(-100vw);
        width: 300px;
    }
    
    .aside img{
        display: none;
    }

    .aside-menus .texto{
        font-size: 16px;
    }

    .aside-menus .subtitulo{
        font-size: 25px;
    }

    .tempos>span{
        margin-bottom: 8px;
    }

    .tempos>div>div{
        margin: 3px;
        width: calc(20% - 6px);
    }

    .medias>div>div{
        margin: 0 2px;
        width: 23%;
    }
}


@media (min-height:1080px){
    .tempos{
        height: 85%;
    }

    .medias{
        height: 15%;
    }
}
@media (max-height:1080px){
    .tempos{
        height: 85%;
    }

    .medias{
        height: 15%;
    }
}

@media (max-height:1025px){
    .tempos{
        height: 80%;
    }

    .medias{
        height: 20%;
    }
}

@media (max-height:769px){
    .tempos{
        height: 62%;
    }

    .medias{
        height: 38%;
    }
}

@media (max-height:425px){
    .tempos{
        height: 55%;
    }

    .medias{
        height: 45%;
    }
}

@media (max-height:400px){
    .tempos{
        height: 100%;
    }

    .medias{
        display: none;
    }
}
