@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');
@import url(css/animacoes.css);
@import url(css/header.css);
@import url(css/popups.css);
@import url(css/menus.css);
@import url(css/main.css);

:root{
    --laranja-claro: #fff5eb;
    --laranja: #ff9316;
    --laranja-escuro: #140c02;
    --texto: 'Inter', sans-serif;
    --titulo: 'Alata', sans-serif;
    --relogio: 'Azeret Mono', monospace;
}

body{
    background-color: var(--laranja-escuro);
    overflow: hidden;
}

.texto{
    color: var(--laranja-claro);
    font-family: var(--texto);
    font-size: 16px;
}

.subtitulo{
    color: var(--laranja-claro);
    font-family: var(--titulo);
    font-size: 25px; 
}

.titulo{
    color: var(--laranja-claro);
    font-family: var(--titulo);
    font-size: 20px; 
}

.invisivel{
    display: none;
}

.naoSelecionavel{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
	height: 4px;
    width: 4px;
}

::-webkit-scrollbar-track {
	background: #251604;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #7c480c;
}

::-webkit-scrollbar-thumb:hover {
	background: #4e2d08;
}

@media (min-width:769px){
    .texto{
        font-size: 20px;
    }

    .subtitulo{
        font-size: 29px; 
    }
}
